/* Get Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

h1 {
  color: red;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

h5 {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

li {
  color: red;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#bold {
  font-weight: bold;
}

#question {
  color: red;
  font-weight:600;
}

#caption {
  color: #808080;
  font-weight: lighter;
}

#warning {
  color: #ff964f;
  font-weight: bold;
}

.navbar {
  background-color: #FF6961
}

.navbar-header .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > .active {
  color: black;
  background-color: white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: black;
  background-color: white;
}
